.RSelect-arrow {
  align-items: stretch;
  color: #222;
  display: flex;
}

.RSelect-arrow img {
  color: inherit;
}

.RSelect-arrow p {
  color: inherit;
}

.RSelect-form {
  width: 50%;
  margin: 0.3em;
  padding: 0.2em;
}

.RSelect-heading {
  padding: 0;
  margin: 0;
}
